/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    height: 100%; /* Make sure the HTML and body fill the entire screen */
}

/* Specific Styles for CustomVideoPlayer and its container */
.player-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px); /* Assuming the navbar is 64px tall */
    width: 100%; /* Full width */
    overflow: hidden; /* Prevents overflow which causes scrolling */
}

.player-wrapper {
    flex-grow: 1; /* Takes up as much space as available */
    position: relative; /* Positioned relative to its normal position */
    height: inherit;
    width: 100%; /* Full width */
    background-color: black; /* Sets background to black */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures video is scaled properly within the player */
}

.controls {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden; /* Hide controls by default */
    transition: visibility 0.3s ease; /* Smooth transition for visibility */
}

.player-wrapper:hover .controls {
    visibility: visible; /* Make controls visible when hovering over the player */
}

button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: white;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.right-controls {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index: 10;
    padding-top: 0%;
    padding-right: 10px;
}

.right-controls button:hover {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

.player-wrapper:hover .right-controls {
    visibility: visible; /* Show controls when hovering over the player */
}

.hamburger-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
}

.hamburger-menu div {
    height: 3px;
    background: white;
    border-radius: 1px;
}

.steps-container {
    display: none; /* Hidden by default */
    position: absolute;
    top: 50px;
    right: 10px;
    width: 50px; /* Increased width */
    max-height: 60vh; /* Maximum height before scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
}

.right-controls:hover .steps-container,
.right-controls {
    display: flex;
    flex-direction: column;
    width: auto;
}

.button-step {
    width: 100%; /* Full width of the steps container */
    margin: 5px 0;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent buttons */
    border: none;
    color: black;
    padding: 8px 10px; /* Padding adjusted */
    border-radius: 5px;
    cursor: pointer;
    text-align: left; /* Align text to the left */
    opacity: 0.7;
}

.button-step:hover {
    width: auto;
    background-color: rgba(255, 255, 255, 1); /* Less transparency on hover */
}

.steps-button {
    width: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Match video player's theme */
    color: white;
    border: none;
    padding: 8px 16px; /* Sufficient padding */
    font-size: 16px; /* Readable font size */
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    white-space: nowrap; /* Prevents text wrapping */
}