/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    height: 100%; /* Make sure the HTML and body fill the entire screen */
}

/* Specific Styles for CustomVideoPlayer and its container */
.player-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px); /* Assuming the navbar is 64px tall */
    width: 100%; /* Full width */
    overflow: hidden; /* Prevents overflow which causes scrolling */
}

.player-wrapper {
    flex-grow: 1; /* Takes up as much space as available */
    position: relative; /* Positioned relative to its normal position */
    height: inherit;
    width: 100%; /* Full width */
    background-color: black; /* Sets background to black */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures video is scaled properly within the player */
}

.controls {
    position: absolute;
    bottom: 35px; /* Position controls at the bottom */
    left: 50%; /* Center the controls */
    transform: translateX(-50%); /* Align center */
    z-index: 2; /* Ensures controls are above the player */
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: white;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}
