body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

  /* Add this in your main CSS file */
.content-area {
  height: calc(100vh - 64px); /* Assuming navbar is 64px tall */
  overflow: hidden; /* Prevents unwanted scrollbars */
}

.navbar {
  width: 100%;
  height: 64px; /* Adjust this based on your actual navbar height */
  position: fixed; /* Ensures navbar is positioned relative to the viewport */
  top: 0;
  left: 0;
  z-index: 1000; /* Keeps navbar above other content */
}
